/* * {
  border: 1px solid red;
} */

.about-content {
  width: 60vw;
  margin: auto;
  min-height: 100vh;
}
.about-content h2 {
  text-align: center;
  color: grey;
  font-weight: 401;
  margin-top: 0.5rem;
}

.txt-about p {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.8rem;
  color: grey;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .about-content {
    width: 90%;
  }
  .txt-about p {
    width: 100%;
  }
}
